<% provide(:title, 'Editar Clube') %>
<h1>Editar Clube</h1>

<%= render 'form' %>

<div class="row">
  <div class="span6 offset3">
  <%= link_to 'Ver', @club, class: "btn btn-group-sm btn-info" %>
  <%= link_to 'Voltar Atrás', clubs_path, class: "btn btn-group-sm btn-info" %>
  </div>
</div>
