<% provide(:title, 'Novo Clube') %>
<h1>Novo Clube</h1>


<div class="form-single">
  <%= render 'form' %>

  </br>

  <%= link_to '<span class="glyphicon glyphicon-th-list"></span>'.html_safe, clubs_path, class: "btn btn-group-md btn-info", title: 'Voltar Atrás' %>

</div>
