<div class="center hero-unit">
  <h1>Bem vindos à FNKP</h1>

  <h2>
    Esta é a base de dados da Federação Nacional de Karate - Portugal.<br/>

  </h2>

  <%= link_to "Entrar!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("fnkplogo600_160.jpg", alt: "FNKP"), 'http://www.fnkp.pt/' %>
