<% provide(:title, 'Editar Quota Associativa') %>
<h1>Editar Quota Associativa</h1>

<%= render 'form' %>

<div class="row">
  <div class="span6 offset3">
  <%= link_to 'Ver', @association_fee, class: "btn btn-group-sm btn-info" %>
  <%= link_to 'Voltar Atrás', association_fees_path, class: "btn btn-group-sm btn-info" %>
  </div>
</div>
