<% provide(:title, 'Editar Utilizador') %>
<h1>Editar Utilizador</h1>

<div class="form-single">
  <%= render 'form' %>
  </br>

  <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @user, class: "btn btn-group-md btn-info", title: "Ver" %>
  <%= link_to '<span class="glyphicon glyphicon-th-list"></span>'.html_safe, users_path, class: "btn btn-group-md btn-info", title: 'Voltar Atrás' %>

  </div>
</div>
