<% provide(:title, 'Editar Técnico de Arbitragem') %>
<h1>Editar Técnico de Arbitragem</h1>

<%= render 'form' %>

<div class="row">
  <div class="span6 offset3">
  <%= link_to 'Ver', @referee, class: "btn btn-group-sm btn-info" %>
  <%= link_to 'Voltar Atrás', referees_path, class: "btn btn-group-sm btn-info" %>
  </div>
</div>
