<% provide(:title, 'Editar Concelho') %>
<h1>Editar Concelho</h1>

<div class="form-single">
  <%= render 'form' %>
</br>

  <%= link_to '<span class="glyphicon glyphicon-eye-open"></span>'.html_safe, @municipality, class: "btn btn-group-md btn-info", title: "Ver" %>
  <%= link_to '<span class="glyphicon glyphicon-th-list"></span>'.html_safe, municipalities_path, class: "btn btn-group-md btn-info", title: 'Voltar Atrás' %>
</div>
