<% provide(:title, 'Editar Associação') %>

<h1>Editar Associação</h1>

<%= render 'form' %>

<div class="row">
  <div class="span6 offset3">
  <%= link_to 'Ver', @association, class: "btn btn-group-sm btn-info" %>
  <%= link_to 'Voltar Atrás', association_path, class: "btn btn-group-sm btn-info" %>
  </div>
</div>
