<% provide(:title, 'Editar Categoria de Técnico de Arbitragem') %>
<h1>Editar Categoria de Técnico de Arbitragem</h1>

<%= render 'form' %>

<div class="row">
  <div class="span6 offset3">
  <%= link_to 'Voltar Atrás', referee_path( @referee_path.referee_id ), class: "btn btn-group-sm btn-info" %>
  </div>
</div>
