<% provide(:title, 'Nova Graduação') %>
<h1>Nova Graduação</h1>

<%= render 'form' %>

<div class="row">
  <div class="span6 offset3">
  <%= link_to 'Voltar Atrás', graduations_path, class: "btn btn-group-sm btn-info" %>
  </div>
</div>
