<% provide(:title, 'Editar Região') %>
<h1>Editar Região</h1>

<%= render 'form' %>

<div class="row">
  <div class="span6 offset3">
  <%= link_to 'Ver', @region, class: "btn btn-group-sm btn-info" %>
  <%= link_to 'Voltar Atrás', regions_path, class: "btn btn-group-sm btn-info" %>
  </div>
</div>
