
<% provide(:title, 'Nova Região') %>
<h1>Nova Região</h1>

<%= render 'form' %>

<div class="row">
  <div class="span6 offset3">
  <%= link_to 'Voltar Atrás', regions_path, class: "btn btn-group-sm btn-info" %>
  </div>
</div>
