<footer class="footer">
  <small>
    <a href="http://www.fnkp.pt/">Federação Nacional de Karate - Portugal</a>
    by César Silva &copy;2014
  </small>
  <nav>
    <ul>
      <li><%= link_to "Acerca",   about_path %></li>
      <li><%= link_to "Contactos", contact_path %></li>
    </ul>
  </nav>
</footer>
